
:host {
  display: flex;
  margin: 10px;

  .app-users-list {
    display: flex;
    flex-direction: row;

    &__content {
      display: flex;
      flex-direction: column;

      &__loading-wrapper {
        position: relative;
        flex-grow: 1;

        .spinner-wrapper {
          pointer-events: none;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .loading-spinner {
          display: none;
        }

        .item {
          margin-top: 8px;

          &:first-child {
            margin-top: 0;
          }
        }

        &.loading {
          .loading-spinner {
            display: block;
            z-index: 100;
          }

          .loading-content {
            filter: blur(5px);
          }
        }
      }
    }
  }
}
