<div class="app-users-list">
  <div class="app-users-list__content">
    <mat-form-field appearance="outline"
    >
      <mat-label>Search by client name</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput #searchInput class="search-input"
             [formControl]="searchInputControl">
    </mat-form-field>
    <div class="app-users-list__content__loading-wrapper" [ngClass]="{ loading: isLoading }">
      <div class="spinner-wrapper">
        <mat-spinner class="loading-spinner" diameter="50" [color]="'primary'"></mat-spinner>
      </div>
      <div class="loading-content">
        <app-users-list-item class="item" *ngFor="let user of (users$ | async)"
                             [user]="user" [selected]="(selectedUserId$ | async) === user.id" (clicked)="onSelect($event)">
        </app-users-list-item>
      </div>
      <div *ngIf="!(users$ | async)?.length && !isLoading" class="loading-content">
        <p>Nothing to show.</p>

      </div>
    </div>
  </div>
</div>
