<div class="app-user-card" *ngIf="user$ | async as user">
  <div *ngIf="user.avatarUrl; else noAvatarIcon" mat-card-avatar class="app-user-card__avatar"
       [style.backgroundImage]="'url(' + user.avatarUrl + ')'"></div>
  <ng-template #noAvatarIcon>
    <mat-icon class="app-user-card__no-user">account_circle</mat-icon>
  </ng-template>
  <div class="app-user-card__user-info">
    <span class="name">{{user.firstName + ' ' + user.lastName}}</span>
    <span *ngIf="user.phoneNumber">phone: {{user.phoneNumber}}</span>
    <span *ngIf="user.description">{{user.description}}</span>
  </div>
</div>
