$border-style: solid 1px #aaa;

:host {
  display: flex;
  margin: 10px;
  flex-grow: 1;

  .app-user-card {
    display: flex;
    flex-grow: 1;
    padding: 16px;

    &__avatar {
      background-size: cover;
      flex-shrink: 0;
      width: 150px;
      height: 150px;
    }

    &__no-user {
      width: 150px;
      height: 150px;
      font-size: 150px;
    }

    &__user-info {
      .name {
        font-weight: 500;
      }

      display: flex;
      flex-direction: column;
      margin-left: 16px;
    }

  }
}
