$border-style: solid 1px #aaa;

:host {
  display: flex;

  .app-users-list-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 16px;
    border:  $border-style;
    border-radius: 4px;
    cursor: pointer;

    &.selected {
      background: #b3bbec;
    }

    &:hover {
      background: #c7cbd4;
    }

    &__avatar {
      background-color: white;
      background-size: cover;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: $border-style;
    }

    &__user-info {
      .name {
        font-weight: 500;
      }
      display: flex;
      flex-direction: column;
      margin-left: 16px;
    }

  }
}
