<div class="app-users-list-item" (click)="onClick()" [ngClass]="{'selected' : selected}" >
  <div *ngIf="user.avatarUrl; else noAvatarIcon" mat-card-avatar class="app-users-list-item__avatar"
       [style.backgroundImage]="'url(' + user.avatarUrl + ')'"></div>
  <ng-template #noAvatarIcon>
    <mat-icon>account_circle</mat-icon>
  </ng-template>
  <div class="app-users-list-item__user-info">
    <span class="name">{{user.firstName + ' ' + user.lastName}}</span>
    <span *ngIf="user.phoneNumber">phone: {{user.phoneNumber}}</span>
  </div>
</div>
